.text-valid {
    color: #fb6340 !important;
    font-size: 80% !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
}

div.inline {
    float: left !important;
}

.clearBoth {
    clear: both !important;
}



.tabs {
    display: flex;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button.active,
.tab-button:hover {
    background-color: #ddd;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}